//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 23 22:08:47 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "VGA_HSYNC" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "A12" LEVEL 1;
COMP "CLK_100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "SevenSegment<0>" LOCATE = SITE "A5" LEVEL 1;
COMP "SevenSegment<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "SevenSegment<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "SevenSegment<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "SevenSegment<4>" LOCATE = SITE "C4" LEVEL 1;
COMP "SevenSegment<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "SevenSegment<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "SevenSegment<7>" LOCATE = SITE "A3" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "E18" LEVEL 1;
COMP "DIP<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "F17" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "SevenSegmentEnable<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "SevenSegmentEnable<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "SevenSegmentEnable<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "VGA_PIXEL<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_PIXEL<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "VGA_PIXEL<2>" LOCATE = SITE "C10" LEVEL 1;
COMP "VGA_PIXEL<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "VGA_PIXEL<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "VGA_PIXEL<5>" LOCATE = SITE "A9" LEVEL 1;
COMP "VGA_PIXEL<6>" LOCATE = SITE "B9" LEVEL 1;
COMP "VGA_PIXEL<7>" LOCATE = SITE "C9" LEVEL 1;
NET "vga_clk/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

