# iCESugar Board (iCE40UP5K-QFN48)

# 12 MHz Clock
set_io clk          35

# UART via iCELink
set_io UART_RX      4
set_io UART_TX      6

# Micro USB
set_io USB_DP       10
set_io USB_DN       9
set_io USB_PULLUP   11

# DIP Switch
set_io DIP_SW[0]    18
set_io DIP_SW[1]    19
set_io DIP_SW[2]    20
set_io DIP_SW[3]    21

# RGB LED
set_io LED_R        40
set_io LED_G        41
set_io LED_B        39

# SPI
set_io SPI_SS       16
set_io SPI_SCK      15
set_io SPI_MOSI     17
set_io SPI_MISO     14

# PMOD 1
set_io P1_1         10
set_io P1_2         6
set_io P1_3         3
set_io P1_4         48
set_io P1_5         47
set_io P1_6         2
set_io P1_7         4
set_io P1_8         9

# PMOD 2
set_io P2_1         46
set_io P2_2         44
set_io P2_3         42
set_io P2_4         37
set_io P2_5         36
set_io P2_6         38
set_io P2_7         43
set_io P2_8         45

# PMOD 3
set_io P3_1         34 
set_io P3_2         31
set_io P3_3         27
set_io P3_4         25
set_io P3_5         23
set_io P3_6         26
set_io P3_7         28
set_io P3_8         32

# PMOD 4
set_io P4_1         21
set_io P4_2         20
set_io P4_3         19
set_io P4_4         18
