*.history
*.dblite
*.out
*.json
*.bin
*.asc
*.log
*.rpt

# Xilinx ISE
*.html
*.xwbt
*.xrpt
*.ncd
*.map
*.mrp
*.ngm
*.csv
*.txt
*.xml
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
#*.ngc
*.ngd
*.ngr
*.pad
*.par
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.unroutes
*.xpi
*.log
*.ut
*.lst
*.xmsgs
*.xreport
*.xbcd
*.sdbl
*.sdbx
*.pcf
