LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "P11";
IOBUF PORT "led" OPENDRAIN=ON IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "M13";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;
