//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 30 14:23:51 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DP<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "DP<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "DP<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "DP<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "CLK_100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "SevenSegmentEnable<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "SevenSegmentEnable<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "SevenSegmentEnable<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "SFP0_DISABLE" LOCATE = SITE "T4" LEVEL 1;
COMP "SFP1_DISABLE" LOCATE = SITE "R8" LEVEL 1;
COMP "SFP2_DISABLE" LOCATE = SITE "R10" LEVEL 1;
COMP "SFP3_DISABLE" LOCATE = SITE "J16" LEVEL 1;
COMP "SFP0_DETECT" LOCATE = SITE "V7" LEVEL 1;
COMP "SFP1_DETECT" LOCATE = SITE "V8" LEVEL 1;
COMP "SFP2_DETECT" LOCATE = SITE "T11" LEVEL 1;
COMP "SFP3_DETECT" LOCATE = SITE "H18" LEVEL 1;
COMP "SFP0_LOS" LOCATE = SITE "T3" LEVEL 1;
COMP "SFP1_LOS" LOCATE = SITE "V9" LEVEL 1;
COMP "SFP2_LOS" LOCATE = SITE "V11" LEVEL 1;
COMP "SFP3_LOS" LOCATE = SITE "L16" LEVEL 1;
COMP "SFP0_TX" LOCATE = SITE "R3" LEVEL 1;
COMP "SFP1_TX" LOCATE = SITE "T9" LEVEL 1;
COMP "SFP2_TX" LOCATE = SITE "U11" LEVEL 1;
NET "CLK_100MHz_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

